*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
index.php
wp-config.php
uploads/
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
object-cache.php
mu-plugins/mu-plugin.php
mu-plugins/slt-force-strong-passwords.php
mu-plugins/limit-login-attempts
mu-plugins/wpengine-common
mysql.sql

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

license.txt
readme.html
wp-admin/
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-includes/
wp-load.php
wp-login.php
wp-settings.php
wp-signup.php
wp-trackback.php
apple-touch-icon-precomposed.png
apple-touch-icon.png
cacerts/
favicon.ico
ldap_test.php
ldaprc
wp-activate.php
wp-atom.php
wp-blog-header.php
wp-commentsrss2.php
wp-feed.php
wp-links-opml.php
wp-mail.php
wp-pass.php
wp-rdf.php
wp-register.php
wp-rss.php
wp-rss2.php
xmlrpc.php

.sass-cache
gulpfile.js
package.json
node_modules
